<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="serviceStation.dao.IOrderDAO">
    <resultMap id="result" autoMapping="false" type="serviceStation.models.Order">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="workers_id" column="workers_id"/>
        <result property="clients_id" column="clients_id"/>
        <result property="cars_id" column="cars_id"/>
    </resultMap>
    <select id="getEntityById" parameterType="Integer" resultMap="result">
        select * from orders where id = #{id}
    </select>
    <insert id="saveOrder" parameterType="serviceStation.models.Order" useGeneratedKeys="true" keyProperty="id"
            timeout="20">
        insert into orders (id,name,price,workers_id,clients_id,cars_id)
        values (#{id},#{name},#{price},#{workers_id},#{clients_id},#{cars_id})
    </insert>
    <update id="updateOrder" parameterType="serviceStation.models.Order">
        update orders set
        name = #{name},
        price = #{price},
        workers_id = #{workers_id},
        clients_id = #{clients_id},
        cars_id = #{cars_id}
        where id = #{id}
    </update>
    <delete id="removeOrder">
        delete from orders where id = #{id}
    </delete>
    <select id="showAllOrders" resultMap="result">select * from orders</select>
</mapper>